@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .pause {
    animation-play-state: paused;
  }
  .animation-delay {
    animation-delay: 3s;
  }
}

/* Things for font sizing  */
@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer-Bold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "acid";
  src: url("/fonts/FFF-AcidGrotesk-Bold-TRIAL.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

.text-header1 {
  @apply font-bold text-4xl;
}

.text-header2 {
  @apply font-semibold text-2xl;
}

.text-header3 {
  @apply font-semibold text-xl;
}
.text-header4 {
  @apply font-semibold text-lg;
}
.text-paragraph {
  @apply text-sm;
}
.menu-open {
  @apply scale-95 opacity-30 overflow-y-hidden;
}
